body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black
}
.container{
    background-color: #f0fbff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
    margin: 0 auto ;
    margin-top: 50px;
    text-align: center;
    max-width: 600px;
    border-radius: 5px;
    padding: 20px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
form input[type="text"]{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    outline: none;
    font-size: 18px;
    width: 60%;

}
form input[type="submit"]{
    background-color: #46d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color .3s ease;
}
form input[type="submit"]:hover{
    background-color: #98f2f2;
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}
.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0 ;
}
.description{
    font-size: 24px;
    margin-bottom: 20px; 
}
.details{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

}
.details > div{
    padding: 20px;
    background-color: #46d3d3;
    margin: 10px;
    flex: 1;
    border-radius: 7px;
    text-align: center;
    min-height: 45px;
    font-size: 18px;
    transition: background-color .3s ease;
}
.details > div:hover{
    background-color: #98f2f2;
}
@media (max-width: 768px){
    form{
        flex-direction: column;
    }
    form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
        
    }
}